<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tournaments Finder</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    <script>
      var module = angular.module("kuchModule",[]);
      var controller = module.controller("kuchController", function ($scope,$http) 
      {
        $scope.doFetchP=function()
        {
          let url="/fetch-all-users?city="+$scope.selcity+"&game="+$scope.selgame;
          $http.get(url).then(done,fail);
          function done(response)
          {
            // alert(JSON.stringify(response.data));
            $scope.jsonArray=response.data;
          }
          function fail(err)
          {
            alert(err.data);
          }
        }


        $scope.doFetchcity=function()
        {
          $scope.selcity="none";
          let url="/fetch-city";
          
          $http.get(url).then(done,fail);
          function done(response)
          {
            //alert(JSON.stringify(response.data));
            $scope.jsonArraycity=response.data;
          }
          function fail(err)
          {
            alert(err.data);
          }
        }

        $scope.doFetchgame=function()
        {
          $scope.selgame="none";
          let url="/fetch-game";
          //alert();
          
          $http.get(url).then(done,fail);
          function done(response)
          {
           // alert(JSON.stringify(response.data));
            $scope.jsonArraygame=response.data;
          }
          function fail(err)
          {
            alert(err.data);
          }
        }
        $scope.doFetchAll=function()
        {
          let url="/fetch-all-userss";
          $http.get(url).then(done,fail);
          function done(response)
          {
            //alert(JSON.stringify(response.data));
            $scope.jsonArray=response.data;
          }
          function fail(err)
          {
            alert(err.data);
          }
        }
        $scope.doFetchOne=function(index){
          // alert();
          $scope.selObj=$scope.jsonArray[index];
          // alert(JSON.stringify($scope.selObj));

        }
      });

    </script>
  </head>
  <!-- View -->
   <center>
  <body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchgame(); doFetchcity();">
    <div class="row col-12">
      <h2 class="bg-black text-warning p-3">Find Tournaments</h2>
    </div>
    <div class="container row lg-3">
    <div class="col-md-6">
      <!-- <button type="submit" class="btn btn-primary" ng-click="doFetchgame();">Game</button><br> -->
       <b>Game</b>
      <label for="inputState" class="form-label"></label>
      <select id="inputState" class="form-select" ng-model="selgame">
        <option selected value="none">Choose...</option>
        <option ng-repeat="boxgame in jsonArraygame"value="{{boxgame.Game}}">{{boxgame.Game}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <!-- <button type="submit" class="btn btn-primary" ng-click="doFetchcity();">City</button><br> -->
      <b>City</b>
      <label for="inputState" class="form-label"></label>
      <select id="inputState" class="form-select" ng-model="selcity">
        <option selected value="none">Choose...</option>
        <option ng-repeat="boxcity in jsonArraycity" value="{{boxcity.City}}">{{boxcity.City}}</option>
      </select>
    </div>
  </div><br><br>
    <center>
      <button type="button" ng-click="doFetchP();" class="btn btn-warning">Fetch Acc. City & Game</button>
      <button type="button" ng-click="doFetchAll();" class="btn btn-warning">Fetch All Records</button>
    </center>
    <br>
      <div class="container">
        <div class="row">
          <div class="col-md-3" ng-repeat="boxObj  in jsonArray" >
            <div class="card mt-4">
             <center> <img src="{{boxObj.Poster}}" width="100" height="100"  alt="..."></center>
              <div class="card-body">
                <h5>{{boxObj.emailid}}</h5>
                <h5 class="card-title">{{boxObj.Game}}</h5>
                <h5 class="card-title">{{boxObj.City}}</h5>

                <a href="" ng-click="doFetchOne($index);" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">More info</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </center>
<!-- MORE INFO PURI DETAIL -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tournament Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center><img src="{{selObj.Poster}}" alt="" width="200" height="150"></center><br>
        <!-- <p>{{selObj.tid}}</p> -->
        <div class="col-md-12">
          <label for="Emailid"><b>Email id</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.emailid}}" readonly>
        </div>
        <div class="row">
        <div class="col-md-6">
          <label for="Game"><b>Game</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.Game}}" readonly>
        </div>
        <div class="col-md-6">
          <label for="Title"><b>Title</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.Title}}" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="EntryFees"><b>Entry Fees</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.Fee}}" readonly>
        </div>
        <div class="col-md-6">
          <label for="Date"><b>Date</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.Dot | date:'yyyy-MM-dd'}}" readonly>
        </div>
      </div>
        <div class="col">
          <label for="City"><b>City</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.City}}" readonly>
        </div>
        <div class="col">
          <label for="Location"><b>Location</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.Location}}" readonly>
        </div>
        <div class="col">
          <label for="Prizes"><b>Prizes</b></label>
          <input type="text" class="form-control" aria-label="First name" value="{{selObj.Prizes}}" readonly>
        </div>
        <div class="col">
          <label for="Otherinfo"><b>Other Information</b></label>
          <textarea class="form-control" id="floatingTextarea" readonly>{{selObj.Oinfo}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<footer class="bg-black">
  <hr class="text-light">
  <div class="container text-warning pt-5" id="foot">
      <div class="row">
      <div class="col-md-3">
          <h2 class="text-light">PlayGround</h2>
          <div class="pb-2 pt-3">
          <h5 class="text-light" id="Conus">Contact Us</h5>
          <a href="tel:6239110015" class="text-warning">6239110015</a><br>
          <a href="mailto:gurrupak24@gmail.com" class="text-warning">gurrupak24@gmail.com</a>
          <p>Green Avenue|Bathinda|151001</p>
          </div>
          <div class="pb-3">
          <a href="https://x.com/rupak_gur" target="_blank"><i class="text-warning fa-brands fa-x-twitter fa-2xl"></i></a>
          <a href="https://www.instagram.com/rupakgurrr" target="_blank"><i class="text-warning fa-brands fa-instagram fa-2xl ps-2"></i></a>
          <a href="https://www.linkedin.com/in/rupak-gur-852916307" target="_blank"><i class="text-warning fa-brands fa-linkedin-in fa-2xl ps-2"></i></a>
          <a href="https://github.com/Romeo2410" target="_blank"><i class="text-warning fa-brands fa-github fa-2xl ps-2"></i></a>
          </div>
      </div>
      <div class="col-md-3">
          <h5 class="text-light">Menu</h5>
          <p class="text-warning">Home</p>
          <p class="text-warning">Services</p>
          <p class="text-warning">About</p>
          <p class="text-warning">Contact</p>
      </div>
      <div class="col-md-3">
          <h5 class="text-light">Our Services</h5>
          <p>Publish Tournaments</p>
          <p>Upcoming Tournaments</p>
          <p>Win Prizes</p>
          <p>Certification</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-light">Our Vision</h5>
        <p>"To be the leading platform where gamers of all levels can easily 
          discover, join, and host exciting tournaments, making up a vibrant and 
          inclusive community of competitive players."
        </p>
      </div>
  </div>
  </div>
  <div class="col-md-12">
    <div class="container text-center">
    <p class="text-center text-light">© 2024 PlayGround, Inc</p>
    </div>
  </div>
</footer>
</body>
</html>